body {
    direction: rtl;
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    height: 400px;
    overflow: hidden;
}

#container {
    width: 960px;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    float: right;
    text-align: center;
}

nav ul li a {
        display: inline-block;
        background-color: #2f2f33;
        color: white;
        width: 240px;
        height: 30px;
        padding-top: 10px;
        text-decoration: none;
}

nav ul li a:hover {
            background-color: #3097D2;
}

nav ul li a:active {
            background-color: #89D6F9;
}

nav ul li ul {
        display: none;
        position: absolute;
}

nav ul li:hover > ul {
        display: block;
        width: 120px;
}

.currentPage {
    background-color: white;
    color: black;
}

#first {
    padding-top: 80px;
    font-size: 30pt;
    display: block;
    text-align: center;
    margin-bottom: 44px;
    font-family: Calibri;
    color: darkred;
}
#text1 {
    display: inline-block;
    text-align: center;
    float: left;
    position: relative;
    padding: 20px;
    border: 3px solid black;
    color: #B70303;
    width: 400px;
    position: relative;
    bottom:443px;
    font-family: Calibri;
    font-size: 14pt;
}
#img1 {
    display: inline-block;
    background-image: url(/Images/portrait.png);
    width: 413PX;
    height: 372px;
    float: right;
}

#img1:hover {
        content: url(../Images/chen.jpg);
        width: 413PX;
        height: 372px;
}
  
#audio2 {
    display: inline-block;
    padding-left:250px;
}
.audio2 {
    margin-right: 190px;
    margin-bottom: 16px;
    position: relative;
    bottom: 50px;
    right: 400px;
}
 